.callToAction {
  padding: 50px 0;
  .timer_text {
    margin-bottom: 25px;
    div {
      margin-left: 60px;
    }
    &:before {
      content: "";
      background: url(../img/calltoaction/clock-icon.svg) no-repeat;
      background-size: 100%;
      width: 50px;
      height: 50px;
      position: absolute;
      left: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  form#contactForm,form#contactForm_2,form#contactForm_3 {
    .form-row {
      display: block;
      .form-control {
        border-radius: 25px;
        padding: 12px 24px;
        height: 43px;
        margin-bottom: 10px;
      }
      button {
        min-width: 217px;
        &:before {
          content: "";
          background: url(../img/calltoaction/phone-icon_white.svg) no-repeat;
          background-size: 100%;
          width: 20px;
          height: 20px;
          position: absolute;
          left: 25px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      .result {
        position: absolute;
        left: 15px;
        #answer, #answer2 {
          font-size: 14px;
          color: $main-text;
        }
        #answer_3 {
          font-size: 14px;
          color: white;
        }
      }
    }
  }
  &.callToAction_blue {
    background-color: $primary;
    .timer_text {
      color: white;
      &:before {
        background: url(../img/calltoaction/clock-icon_white.svg) no-repeat;
      }
    }
    form#contactForm_3 {
      button:before {
        background: url(../img/calltoaction/phone-icon_blue.svg) no-repeat;
      }
    }
  }
}

@media (min-width: 992px) {
 .callToAction {
   .timer_text {
     margin-bottom: 0;
     div {
       margin-left: 40px;
     }
     &:before {
       left: 0;
     }
   }
   form#contactForm,form#contactForm_2,form#contactForm_3 {
     .form-row {
       display: flex;
       .form-control {
         margin-bottom: 0;
       }
     }
   }
 }
}