#contacts {
  position: relative;
  .wt-background-contactsImg {
    background:url(../img/contacts/contacts-bg.jpg) no-repeat 50% 50% / cover;
  }
  .contacts_caption {
    position: relative;
    background-color: rgba(255,255,255,0.9);
    padding: 50px 35px 25px;
    width: 100%;
    .caption_text {
      .text_item {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $secondary-text;
        img {
          width: 22px;
          height: 22px;
        }
        .item_desc {
          a {
            color: $main-text;
          }
        }
        &:last-child {
          border-bottom: none;
          .item_desc {
            a {
              color: $primary;
            }
          }
        }
      }
    }
  }
  .contacts_map {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  #contacts {
    .contacts_caption {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 320px;
      border-radius: 10px;
    }
    .contacts_map {
      height: 520px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}