section#masthead {
  position: relative;
  .owl-carousel {
    .item {
      position: relative;
      height: 400px;
      .wt-background-headerImg-1 {
        background:url(../img/slider/mobile/slider1-mobile.jpg) no-repeat 50% 50% / cover , #3c506f;
      }
      .wt-background-headerImg-2 {
        background:url(../img/slider/mobile/slider2-mobile.jpg) no-repeat 50% 50% / cover , #3c506f;
      }
      .wt-background-headerOverlay {
        background: rgba(49,81,101,.38);
      }
      .block_intro {
        padding-top: 50px;
        padding-bottom: 50px;
        h1 {
          text-shadow: 0 0 7px rgba(0,0,0,.35);
          font-weight: 500;
        }
        p {
          text-shadow: 0 0 7px rgba(0,0,0,.35);
        }
        .block_buttons {
          a {
            -webkit-box-shadow: 0 0 25px rgba(5,113,186,.45);
            box-shadow: 0 0 25px rgba(5,113,186,.45);
          }
        }
      }
    }
    .owl-dots {
      display: block !important;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      .owl-dot {
        span {
          background: #000;
          opacity: 0.3;
          width: 8px;
          height: 8px;
        }
        &.active {
          span {
            background: #007aff;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  section#masthead {
    .owl-carousel {
      .item {
        height: 600px;
        .wt-background-headerImg-1 {
          background:url(../img/slider/slider1.jpg) no-repeat 50% 50% / cover , #3c506f;
        }
        .wt-background-headerImg-2 {
          background:url(../img/slider/slider2.jpg) no-repeat 50% 50% / cover , #3c506f;
        }
        .block_intro {
          padding-top: 160px;
          padding-bottom: 90px;
          .block_buttons {
            margin-top: 150px;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  section#masthead .block_buttons {
    display: none;
  }
}

.inner_pages-masthead {
  position: relative;
  .wt-background-innerPagesImgAboutUs {
    background:url(../img/about-us-bg.jpg) no-repeat 50% 50% / cover , #3c506f;
  }
  .wt-background-innerPagesOverlay {
    background: rgba(49,81,101,.38);
  }
  .wt-section-heroTitle {
    padding: 100px 0;
    text-shadow: 0 0 7px rgba(0,0,0,.35)
  }
}