section#services {
  position: relative;
  .wt-background-servicesImg {
    background:url(../img/services/services-bg.png);
  }
  .card {
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: none;
    -webkit-box-shadow: 1px 0 30px rgba(0,0,0,.23);
    box-shadow: 1px 0 30px rgba(0,0,0,.23);
    border-radius: 5px;
    img.card-img-top {
      height: 185px;
      object-fit: cover;
    }
    .card-body {
      min-height: 343px;
      .card-title {
        color: $main-text;
      }
      .card-text {
        font-size: 13px;
        line-height: 1.3;
        color: $secondary-text;
        margin-bottom: 20px;
      }
      .card_price {
        color: $secondary-text;
      }
      a.btn {
        position: relative;
        padding-left: 40px;
        .btn_icon {
          background: url(../img/services/bag-icon.svg) no-repeat;
          width: 21px;
          height: 21px;
          position: absolute;
          left: 10px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media(min-width:992px) {

}

