#testimonials {
  position: relative;
  .wt-background-testimonialsImg {
    background:url(../img/testimonials/testimonials-bg.jpg) no-repeat 50% 50% / cover;
  }
  .owl-carousel {
    .item {
      .item_card {
        background-color: #fff;
        border-radius: 8px;
        padding: 30px;
        overflow: hidden;
        width: 100%;
        margin: auto;
        .item_photo {
          img {
            border-radius: 50%;
            width: initial;
            margin: auto;
          }
        }
        .item_name {
          text-align: center;
          margin-top: 10px;
        }
        .item_date {
          font-size: 13px;
          color: $secondary-text;
          padding-bottom: 5px;
          border-bottom: 1px solid $secondary-text;
        }
        .item_text {
          font-size: 14px;
          padding-top: 10px;
        }
        &.item_card_2 {
          margin-top: 21px;
        }
        &.item_card_3 {
          margin-top: 55px;
        }
        &.item_card_4 {
          margin-top: 55px;
        }
      }
    }
    .owl-nav {
      display: none !important;
      margin: 0;
      .owl-prev,.owl-next {
        position: absolute;
        top: 50%;
        background-color: transparent;
        padding: 0;
        margin: 0;
        transform: translateY(-50%);
      }
      .owl-prev {
        left: -20px;
      }
      .owl-next {
        right: -20px;
      }
    }
    .owl-dots {
      margin-top: 10px;
    }
  }
}
@media(min-width:768px) {
  #testimonials {
    .owl-carousel {
      .item {
        .item_card {
          width: 712px;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #testimonials {
    .owl-carousel {
      .owl-nav {
        display: block !important;
      }
      .owl-dots {
        display: none !important;
      }
    }
  }
}
@media(min-width:1200px) and (max-width: 1350px) {
  #testimonials {
    .owl-carousel {
      .owl-nav {
        .owl-prev {
          left: 0;
        }
        .owl-next {
          right: 0;
        }
      }
    }
  }
}